@import 'varibles';

.header {
    margin: 0 auto;
    padding: 0.8% 0 3.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header__link {
        text-decoration: none !important;
        color: $base-color;
        margin: 0 5% 0 0;
    }

    .header__block {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: flex-end;
    }
}

a {
    text-decoration: none !important;
    color: $color-a;
}